body {
  background: #f1f1f1;
}

.clearfix {
  clear: both;
}

.overflow {
  overflow: auto;
}
.text_center {
text-align: center;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.container {
  width: 100%;
  max-width: 1440px;
  overflow: auto;
  margin: 0 auto;
}

.container_fluid {
  width: 100%;
}

.wrapper_1 {
  overflow: auto;
  margin: 0 auto;
}

.wrapper1_bg1 {
  background-image: url('../img/img1_first.png');
  background-repeat: no-repeat;

  float: left;
  width: 100%;
  max-width: 480px;
}

.text1_bg {
  margin: 580px 0px 33px 30px;
  text-shadow: 0px 0px 1px black;
}

.wrapper1_bg2 {
  float: left;
}

.wrapper1_bg3 {
  background-image: url('../img/img3_first.png');
  background-repeat: no-repeat;
  float: left;
  width: 100%;
  max-width: 480px;
}

.text3_bg {
  margin: 580px 288px 34px 33px;
  text-shadow: 0px 0px 1px black;
}

.wrapper1_bg1 p{
  font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 18px;
text-transform: capitalize;
color: #FFFFFF;
}


.wrapper1_bg3 p{
  font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 18px;
text-transform: capitalize;
color: #FFFFFF;
}

.first {
  overflow: auto;
}

.shipping {
  background: #d8bf95;
  height: 40px;
}

.shipping p {
  text-align: center;
  padding: 11px 0;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  color: #000000;
}

.header {
    padding: 35px 20px;
    text-align: center;
}


.header_nav li {
    float: left;
}

.header ul{
  overflow: auto;
}
 
.header_logo {
  width: 140px;
}

.header_nav li a {
  font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
text-transform: uppercase;
color: #000000;
text-decoration: none;
}

.header_nav li:first-child {
  margin-right: 230px;
  border-bottom: 2px solid transparent;
}

.header_nav li:nth-child(2) {
  margin-right: 230px;
  border-bottom: 2px solid transparent;
}

.header_nav li:nth-child(2):hover {
  border-bottom: 2px solid #D8BF95;
}

.header_nav li:nth-child(4):hover {
  border-bottom: 2px solid #D8BF95;
}

.header_nav li:nth-child(5):hover {
  border-bottom: 2px solid #D8BF95;
}

.header_nav li:nth-child(6):hover {
  border-bottom: 2px solid #D8BF95;
}

.header_nav li:nth-child(3) {
  margin-right: 140px;
  border-bottom: 2px solid transparent;
}

.header_nav li:nth-child(4) {
  margin-right: 220px;
  border-bottom: 2px solid transparent;
}

.header_nav li:nth-child(5) {
  margin-right: 40px;
  border-bottom: 2px solid transparent;
}

.header_nav li:nth-child(6) {
margin-right: 75px;
border-bottom: 2px solid transparent;
}

.header_nav li:first-child:hover {
  border-bottom: 2px solid #D8BF95;
} 



.wrapper_1 {
  min-width: 1440px;
}

.second {
  padding: 115px 60px 100px 40px;
}

.text_second_h1 {
  font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 64px;
line-height: 64px;
color: #000000;
max-width: 892px;
margin-bottom: 31px;
}

.text_second_p p {
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 25px;
color: #000000;
}

.shop_myel a:hover{
  border-bottom: 2px solid #D8BF95;
}

.shop_myel a {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
}

.arrivals p {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 30px;
  color: #000000;
  margin-bottom: 60px;
 
}

.text1_1_third p {
  
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 22px;
color: #000000;
margin-left: 85px;
margin-bottom: 50px;
}

.text1_3_third p {
  font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 22px;
color: #000000;
margin-right: 110px;
}

.text2_1_third {
  margin: 9px 245px 0 85px;
}

.photo1_third {
  margin: 0 105px 0 45px;
}

.img2_third {
  margin-right: 55px;
}

.img3_third {
  margin-right: 160px;
}

.text2_3_third {
  font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 18px;
color: #000000;
margin-right: 240px;
}


.shop_now a {
 
  border-bottom: 2px solid transparent;
}

.shop_now a:hover{
  border-bottom: 2px solid #D8BF95;
}


.shop_now_2 a {
  margin-right: 85px;
  border-bottom: 2px solid transparent;
}

.shop_now_2 a:hover{
  border-bottom: 2px solid #D8BF95;
}

.wrapper_2 {
  margin-top: 140px;
}

.wrapper_2 .img2_fourth img {
  height: 815px;
}

.wrapper2_text2 nav a {
  font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 18px;
color: #000000;
text-decoration: none;
}

.text1_2_fourth {
  font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 44px;
line-height: 60px;
color: #000000;
margin-left: 50px;
}

.text2_2_fourth {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #000000;
  margin-left: 50px;
}

.bg1_five {
  background-image: url('../img/section5_rings.png');
  background-repeat: no-repeat;
  margin-left: 55px;
}

.bg2_five {
  margin-right: 45px;
}

.bg3_five {
  background-image: url('../img/section5_earrings.png');
  background-repeat: no-repeat;
  width: 100%;
  max-width: 450px;
}

.text1_five, .text3_five {
  font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 33px;
line-height: 42px;
text-transform: capitalize;
color: #FFFFFF;
margin: 500px 340px 0px 43px;
}

.five {
  padding-top: 40px;
}
.five p {
  font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 30px;
color: #000000;
margin: 43px 0 16px 55px;
}

.section5_photos{
  margin: 0 15px 0 40px;
}

.section5_photos img {
  padding-right: 20px;
}

.wrapper_6 {
  margin-top: 100px;
}

.text1_6 {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
  text-shadow: 0px 0px 1px white;
  margin-top:31px;
  margin-left: 45px;
  margin-right: 507px;
  margin-bottom: 880px;
}

.bg1_six {
  background-image: url('../img/section6_first.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.section6_photos {
  margin-bottom: 125px;
}

.seven {
  margin-top: 125px;
}

.seven_h {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 43px;
  line-height: 60px;
  color: #000000;
  width: 100%;
  max-width: 630px;
  margin-left: 65px;
}

.descr {
  font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 30px;
color: #000000;
}

.seven_item {
  width: 100%;
  max-width: 350px;
  margin: 65px;
}

.number {
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 36px;
line-height: 45px;
color: #000000;
margin: 70px 0;
}

.learn_more {
  margin-bottom: 50px;
}

.learn_more a:hover{
  border-bottom: 2px solid #D8BF95;
}

.learn_more a{

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-decoration: none;
  text-transform: uppercase;
  color: #000000;
  border-bottom: 2px solid transparent;
}

.text1_eight, .text2_eight, .text3_eight, .text5_eight {
  font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 27px;
color: #FFFFFF;
float: left;
}

.text2_eight {
  margin: 0 auto;
}

.text1_eight, .text2_eight {
  margin-right: 450px;
}

.text4_eight {
  font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 46px;
line-height: 60px;
color: #FFFFFF;
max-width: 305px;
margin-top: 187px;
margin-bottom: 32px;
}

.text5_eight {
  line-height: 22px;
}

.line_eight {
  width: 100%;
  max-width: 420px;
  height: 1px;
  background: #FFFFFF;
  position: absolute;
  bottom: 19px;
  left: 65px;
}

.wrapper_8 {
  position: relative;
  background-image: url('../img/last_bg.png');
  background-repeat: no-repeat;
  padding: 100px 65px 78px;
  margin-left: 30px;
}

.text1_nine {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
  margin: 67px 465px 846px 50px;
}

 .wrapper_nine {
  margin-bottom: 40px;
} 

.bg1_nine {
  background-image: url('../img/section8_bg1.png');
  background-repeat: no-repeat;
}

.text2_nine {
  font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 48px;
line-height: 60px;
color: #000000;
max-width: 586px;
margin-top: 47px ;
margin-left: 50px;
}

.bg2_nine {
  background-image: url('../img/section8_bg2.png');
  background-repeat: no-repeat;
}


.text3_nine {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #000000;
  margin: 700px 537px 64px 50px;
}

.footer {
  padding-top: 99px;
}


.footer li a{
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 20px;
color: #000000;
text-decoration: none;
}

.footer .shop_by a{
  font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 25px;
color: #000000;
margin: 100px 0px 20px 65px;
text-decoration: none;
}

.shop_by ul {
  margin-top: 20px;
}

.footer h3 {
  font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 19px;
line-height: 25px;
color: #000000;
padding-right: 160px;
margin-bottom: 20px;
}

.footer li {
  padding-bottom: 10px;
}

.reserved {
  
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 18px;
color: #9B9B9B;
margin: 90px 330px 35px 0;
}

.credits {
  
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 18px;
color: #9B9B9B;
margin: 90px 65px 35px 0;
}

.footer_2 .social h3 {
  font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 22px;
line-height: 29px;
color: #000000;
padding-bottom: 20px;
}

.footer_2 .social {
  margin: 90px 165px 0 65px;
}


.lang {
  font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 20px;
text-transform: capitalize;
color: #C4C4C4;
margin: 90px 0 30px 0;
}

.facebook {
  height: 40px;
  width: 40px;
  background-color: #E5E5E5;
  margin-right: 10px;
}

.facebook img {
  padding: 10px;
}

.inst {
  height: 40px;
  width: 40px;
  background-color: #E5E5E5;
}

.inst img {
  padding: 10px;
}

.footer a {
  border-bottom: 2px solid transparent;
}

.footer a:hover{
  border-bottom: 2px solid #D8BF95;
}