body {
  background: #f1f1f1;
  font-family: 'Roboto';
 
}
.container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}

.shipping {
  background-color: #d8bf95;
  min-height: 40px;
  width: 100%;
}

.shipping .shipping_text {
  color: #000000;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  padding: 11px 0;
  text-align: center;
}


.header {
  height: 88px;
  padding: 25px 35px 25px 30px;
  box-sizing: border-box;
}

 .header .header_list {
  display: flex;
  justify-content: space-between;
  align-items: center;
} 

.header .header_list .header_list_link {
  text-decoration: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: #000000;
}

.header .header_list_item:nth-child(1) {
  margin-right: 190px;
}

.header .header_list_item:nth-child(2) {
  margin-right: 150px;
  margin-left: 40px;
}

.header .header_list_item:nth-child(4) {
  margin-right: 150px;
  margin-left: 100px;
} 



.photos .photos_wrapper {
  display: flex;
}

.photos .photos_wrapper .photos_text {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-transform: capitalize;
  color: #FFFFFF;
  position: absolute;
  left: 32px;
  bottom: 33px;
}

.photos .photos_wrapper .photos_first {
  position: relative;
}

.photos .photos_wrapper .photos_third {
  position: relative;
}

.info {
  min-height: 580px;
 padding-top: 116px;
}

.info .info_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.info .info_wrapper .info_text {
  max-width: 885px;
}

.info .info_wrapper .info_text .info_title {
font-weight: 400;
font-size: 64px;
line-height: 64px;
color: #000000;
margin-bottom: 30px;
}

.info .info_wrapper .info_text .info_subtitle {
font-weight: 400;
font-size: 20px;
line-height: 25px;
color: #000000;
}

.info .info_wrapper .info_link a{
  text-decoration: none;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-transform: uppercase;
  color: #000000;
}

.info .info_wrapper .info_link a:hover{
  border-bottom: 2px solid #D8BF95;
}
.arrivals {
  min-height: 780px;
}

.arrivals .arrivals_wrapper {
  display: flex;
  justify-content: space-between;
}

.arrivals .arrivals_shop {
font-weight: 400;
font-size: 24px;
line-height: 30px;
color: #000000;
margin-bottom: 60px;
}

.arrivals .arrivals_first {
  position: relative;
}

.arrivals .arrivals_third {
  position: relative;
}

.arrivals .arrivals_wrapper .arrivals_title {
font-weight: 400;
font-size: 16px;
line-height: 22px;
color: #000000;
}

.arrivals .arrivals_wrapper .arrivals_text {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #000000;
}

.arrivals .arrivals_wrapper .arrivals_price {
position: absolute;
bottom: 9px;
left: 43px;
}

.arrivals .arrivals_shop_now {
position: absolute;
bottom: 9px;
right: 0;
border-bottom: 2px solid transparent;
}

.arrivals .arrivals_shop_now a {
  text-decoration: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #000000;
}

.arrivals .arrivals_shop_now:hover{
  border-bottom: 2px solid #D8BF95;
}


.arrivals .arrivals_wrapper .arrivals_title_third {
  max-width: 310px;
} 

.shirts {
  min-height: 936px;
}

.shirts .shirts_wrapper {
  display: flex;
}

.shirts .shirts_wrapper .shirts_second {
  position: relative;
}

.shirts .shirts_wrapper .shirts_second .shirts_second_title {
  position: absolute;
  left: 50px;
  top: 50px;
  font-weight: 400;
  font-size: 44px;
  line-height: 60px;
  color: #000000;
}

.shirts .shirts_wrapper .shirts_second .shirts_second_subtitle {
  position: absolute;
  left: 50px;
  bottom: 64px;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #000000;
}

.browse {
  min-height: 765px;
  padding-top: 40px;
}

.browse_container {
  max-width: 1360px;
  width: 100%;
  margin: 0 auto;
}

.browse .browse_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.browse .browse_wrapper .browse_first {
  position: relative;
}

.browse .browse_wrapper .browse_third {
  position: relative;
}

.browse .browse_wrapper .browse_text {
  position: absolute;
  left: 10px;
  bottom: 2px;
  font-weight: 400;
  font-size: 33px;
  line-height: 42px;
  text-transform: capitalize;
  color: #FFFFFF;
}

.browse .browse_title {
font-weight: 400;
font-size: 24px;
line-height: 30px;
color: #000000;
margin-bottom: 15px;
}

.books {
  min-height: 940px;
}

.books .books_wrapper {
  display: flex;
}

.books .books_wrapper .books_first {
  position: relative;
}

.books .books_wrapper .books_text {
  position: absolute;
  top: 30px;
  left: 45px;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
  text-shadow: 0px 0px 1px white;
}

.together {
  min-height: 917px;
  margin-top: 90px;
  padding-top: 37px;
}


.together .together_title {
  max-width: 630px;
font-weight: 400;
font-size: 43px;
line-height: 60px;
color: #000000;
margin-left: 64px;
margin-bottom: 84px;
}

.together .together_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 64px;
  margin-bottom: 55px;
}

.together .together_wrapper img {
  margin-left: 62px;
  margin-bottom: 68px;
}

.together .together_wrapper .together_number {
  margin-bottom: 72px;
  font-weight: 400;
  font-size: 30px;
  line-height: 45px;
  color: #000000;
}

.together .together_wrapper .together_first .together_text {
max-width: 400px;
}

.together .together_wrapper .together_second .together_text {
  max-width: 355px;
}

.together .together_wrapper .together_third .together_text {
    max-width: 375px;
}

.together .together_wrapper  .together_text {
font-weight: 400;
font-size: 24px;
line-height: 30px;
color: #000000;
}

.together .learn_more {
  margin-left: 64px;
}

.together .learn_more a{
text-decoration: none;
font-weight: 400;
font-size: 18px;
line-height: 22px;
text-transform: uppercase;
color: #000000;
}

.rings {
  min-height: 936px;
  margin-bottom: 140px;
}

.rings .rings_wrapper {
  display: flex;
  align-items: center;
}

.rings .rings_wrapper .rings_first {
  position: relative;
}

.rings .rings_wrapper .rings_first .rings_first_text {
  position: absolute;
  left: 50px;
  top: 67px;
font-weight: 400;
font-size: 18px;
line-height: 22px;
color: #000000;
}

.rings .rings_wrapper .rings_second {
  position: relative;
}

.rings .rings_wrapper .rings_second .rings_second_text {
position: absolute;
left: 50px;
bottom: 64px;
font-weight: 400;
font-size: 14px;
line-height: 18px;
color: #000000;
}

.rings .rings_wrapper .rings_second .rings_second_title {
  position: absolute;
  left: 50px;
  top: 50px;
font-weight: 400;
font-size: 48px;
line-height: 60px;
color: #000000;
max-width: 570px;
}

.subscribe {
  min-height: 547px;
  background: url(../img/last_bg.png) center/cover no-repeat;
}

.subscribe .subscribe_wrapper {
  padding: 80px 64px 0;
  display: flex;
  justify-content: space-between;
  margin-bottom: 187px;
}

.subscribe .subscribe_wrapper .subscribe_text {
font-weight: 400;
font-size: 18px;
line-height: 27px;
color: #FFFFFF;
}

.subscribe .subscribe_title {
  max-width: 304px;
font-weight: 400;
font-size: 46px;
line-height: 60px;
color: #FFFFFF;
padding-left: 64px;
margin-bottom: 32px;
}

.subscribe .subscribe_subtitle {
font-weight: 400;
font-size: 18px;
line-height: 22px;
color: #FFFFFF;
padding-left: 64px;
margin-bottom: 58px;
}


.subscribe .subscribe_line {
  width: 100%;
  max-width: 420px;
  height: 1px;
  background: #FFFFFF;
  position: relative;
  left: 65px; 
}

.footer {
  min-height: 401px;
}

.footer .footer_container {
  padding: 99px 170px 0 64px;
}

.footer .footer_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: start;
}

.footer .footer_left {
  display: flex;
  justify-content: space-between;
}

.footer .footer_right {
  display: flex;
  justify-content: space-between;
}

.footer .footer_shop_second {
  margin-top: 45px;
  margin-left: 150px;
}

.footer .footer_title {
font-weight: 400;
font-size: 18px;
line-height: 25px;
color: #000000;
margin-bottom: 20px;
}

.footer .footer_item {
  margin-bottom: 10px;
}

.footer .footer_item a{
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  text-decoration: none;
}

.footer .footer_right .footer_support {
  margin-right: 90px;
}

.footer .footer_right .footer_myel {
  margin-right: 115px;
}

.footer .footer_wrapper_second {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.footer .footer_social  {
  padding-top: 10px;
}

.footer .footer_social .footer_social_text {
  margin-bottom: 20px;
font-weight: 400;
font-size: 22px;
line-height: 29px;
color: #000000;
}

.footer .footer_social_items {
  display: flex;
  gap: 12px;
}

.footer .footer_social_items .footer_facebook, .footer_insta {
  width: 38px;
  height: 38px;
  background: #E5E5E5;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer .footer_social_items .footer_facebook:hover {
  background: #c6c5c5;
}

.footer .footer_social_items .footer_insta:hover {
  background: #c6c5c5;
}


.footer .footer_lang {
font-weight: 400;
font-size: 16px;
line-height: 20px;
text-transform: capitalize;
color: #000000;
}

.footer .footer_reserved {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #9B9B9B;
}

.footer .footer_credits {
font-weight: 400;
font-size: 14px;
line-height: 18px;
color: #9B9B9B;
}

.footer .footer_item a{
  border-bottom: 2px solid transparent;
}

.footer .footer_item a:hover {
  border-bottom: 2px solid #D8BF95;
} 